<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Synchronization">
    <test name="Login1">
        <parameter name="Username" value="standard_user"/>
        <classes>
            <class name="org.example.test"/>
        </classes>
    </test>
    <test name="Login2">
        <parameter name="Username" value="problem_user"/>
        <classes>
            <class name="org.example.test"/>
        </classes>
    </test>
</suite>